<section>
  <div style="height: 10em">
      <div class="flex-center flex-column">
          <h1 class="animated fadeIn mb-4">CCA Suite for AVON</h1>

          <h5 class="animated fadeIn mb-3">Empowering call center agents.</h5>

          <p class="animated fadeIn text-muted"></p>
      </div>
  </div>
</section>
<section class="section">

        <div class="row mt-5 text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4 ml-auto mb-4">

                <section class="form-elegant z-depth-3">
                    <div class="card">

                        <div class="card-body mx-4">
                            <!--Body-->
                            <div class="md-form">
                                <input type="text" id="Form-email1" class="form-control">
                                <label for="Form-email1" class="">Your email</label>
                            </div>

                            <div class="md-form pb-3">
                                <input type="password" id="Form-pass1" class="form-control">
                                <label for="Form-pass1" class="">Your password</label>
                                <p class="font-small pink-text d-flex justify-content-end">Forgot
                                    <a href="#" class="pink-text ml-1"> Password?</a>
                                </p>
                            </div>

                            <div class="text-center mb-3">
                              <a href="landing.html">
                                <button type="button" class="btn blue-gradient pink btn-block btn-rounded z-depth-1a waves-effect waves-light">Sign in</button>
                              </a>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer mx-5 pt-3 mb-1">
                            <p class="font-small grey-text d-flex justify-content-end">Not a member?
                                <a href="#" class="pink-text ml-1"> Sign Up</a>
                            </p>
                        </div>

                    </div>
                    <!--/Form without header-->

                </section>

            </div>
            <div class="col-md-4"></div>

        </div>

    </section>
