<header>
  <!-- Sidebar navigation -->
  <div id="slideOut" class="side-nav fixed trans-left-nav-right">
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light waves-effect waves-light">
          <a href="#"><img src="https://www.avon.com/images/Responsive/header/avon-makeup-beauty-products-online.svg" class="img-fluid flex-center"></a>
        </div>
      </li>

      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <li><a class="collapsible-header waves-effect arrow-r pink-text"><i class="fa fa-chevron-right"></i> Call Center Admin  </a>
          </li>
          <li><a class="collapsible-header waves-effect arrow-r pink-text"><i class="fa fa-upload" aria-hidden="true"></i> Upload Credit Limit</a>
          </li>
          <li><a class="collapsible-header waves-effect arrow-r pink-text"><i class="fa fa-pie-chart" aria-hidden="true"></i> Data Report</a>
          </li>
          <li><a class="collapsible-header waves-effect arrow-r pink-text"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Product Availability</a>
          </li>
          <li><a class="collapsible-header waves-effect arrow-r pink-text"><i class="fa fa-list-ol" aria-hidden="true"></i>Availability Qty</a>
          </li>
          <li><a class="collapsible-header waves-effect arrow-r pink-text"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
          </li>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>
  <!--/. Sidebar navigation -->
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav move-right" id="headerNav">
    <!-- SideNav slide-out button -->
    <div class="float-left">
      <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fa fa-bars"></i> Menu</a>
    </div>

    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light"><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light"><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light"><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Account</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
          <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
          <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /.Navbar -->
</header>
<main id="mainContainer" class="move-right">
  <section class="container-fluid mt-5">
    <div class="row">
      <div class="mt-5 mx-2">
        <h4 class="animated fadeIn mb-3">Representative Credit Limit</h4>
        <p class="animated fadeIn text-muted"></p>
      </div>
  </div>
    <div class="row">
      <div class="col-md-3">
        <div class="md-form mt-5">
          <input type="text" id="form1" class="form-control">
          <label for="form1">Account number</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center mt-5">
          <button class="btn btn-outline-secondary" type="submit">Search <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center mt-5">
          <button class="btn btn-outline-secondary" type="submit">Upload<i class="fa fa-paper-plane-o ml-2"></i></button>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </section>
</main>
<script>
  $(document).ready(function() {
    // SideNav Initialization
    $("#headerNav").on('click', function() {
      $("#slideOut").toggleClass("trans-left-nav");
      $("#slideOut").toggleClass("trans-left-nav-right");
      $(this).toggleClass('move-right');
      $('#mainContainer').toggleClass('move-right');
    });
  });
</script>
