/*!
 * Material Design for Bootstrap 4
 * Version: MDB PRO 4.5.6
 *
 *
 * Copyright: Material Design for Bootstrap
 * https://mdbootstrap.com/
 *
 * Read the license: https://mdbootstrap.com/license/
 *
 *
 * Documentation: https://mdbootstrap.com/
 *
 * Getting started: https://mdbootstrap.com/getting-started/
 *
 * Tutorials: https://mdbootstrap.com/bootstrap-tutorial/
 *
 * Templates: https://mdbootstrap.com/templates/
 *
 * Support: https://mdbootstrap.com/support/
 *
 * Contact: office@mdbootstrap.com
 *
 * Atribution: Animate CSS, Twitter Bootstrap, Materialize CSS, Normalize CSS, Waves JS, WOW JS, Toastr, Chart.js , Hammer.js
 *
 ** animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */


.chip:hover, .test-skin .side-nav .social a:hover .fa {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear
}

.sn-bg-1 {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/sidenav1.jpg)
}

.sn-bg-2 {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/sidenav2.jpg)
}

.sn-bg-3 {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/sidenav3.jpg)
}

.sn-bg-4 {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/sidenav4.jpg)
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  background-color: #2c2f34;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1040;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.side-nav>ul {
  max-height: 100vh
}

.side-nav ul {
  list-style: none;
  padding-left: 0
}

.side-nav ul li {
  padding: 0
}

.side-nav.right-aligned {
  right: 0;
  left: auto;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%)
}

.side-nav.side-nav-light {
  background-color: #e5e5e5
}

.side-nav.side-nav-light .search-form input[type=text] {
  border-bottom-color: rgba(238, 238, 238, .3);
  color: #555 !important
}

.side-nav .about, .side-nav .logo-wrapper, .side-nav .search-form input[type=text], .side-nav .social {
  border-bottom: 1px solid rgba(255, 255, 255, .65)
}

.side-nav.side-nav-light .search-form input[type=text]::-webkit-input-placeholder {
  color: #555 !important
}

.side-nav.side-nav-light .search-form input[type=text]::-moz-placeholder {
  color: #555 !important
}

.side-nav.side-nav-light .search-form input[type=text]:-ms-input-placeholder {
  color: #555 !important
}

.side-nav.side-nav-light .search-form input[type=text]::-ms-input-placeholder {
  color: #555 !important
}

.side-nav.side-nav-light .search-form input[type=text]::placeholder {
  color: #555 !important
}

.side-nav.side-nav-light .collapsible a {
  color: #555
}

.side-nav.side-nav-light .collapsible-body a {
  background-color: rgba(0, 0, 0, .1)
}

.side-nav.side-nav-light .collapsible li .collapsible-header:hover {
  background-color: rgba(0, 0, 0, .05)
}

.side-nav.side-nav-light .collapsible li .collapsible-header.active {
  color: #4285f4;
  background-color: transparent
}

.side-nav.fixed {
  left: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  position: fixed
}

.side-nav.fixed.right-aligned {
  right: 0;
  left: auto
}

@media only screen and (max-width:1440px) {
  .side-nav.fixed {
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%)
  }
  .side-nav.fixed.right-aligned {
    -webkit-transform: translateX(105%);
    -ms-transform: translateX(105%);
    transform: translateX(105%)
  }
}

.side-nav .collapsible {
  margin: 1rem 0 0;
  padding: 0
}

.side-nav .collapsible li a:hover {
  background-color: rgba(0, 0, 0, .15)
}

.side-nav .collapsible>li {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 14px;
}

.side-nav .collapsible>li a.collapsible-header.active, .side-nav .collapsible>li a.collapsible-header:hover {
  background-color: rgba(255, 255, 255, .15)
}

.side-nav .collapsible ul {
  padding: 0;
  list-style-type: none
}

.side-nav .collapsible a {
  color: #fff;
  font-weight: 300;
  font-size: 1.3rem;
  height: 36px;
  line-height: 36px
}

.side-nav .collapsible a.active, .side-nav .collapsible a:hover {
  -webkit-border-radius: 2px;
  border-radius: 2px
}

.side-nav .collapsible .fa {
  font-size: 1rem;
  margin-right: 13px
}

.side-nav .collapsible-body a {
  padding-left: 47px;
  height: 36px;
  line-height: 36px;
  background-color: rgba(0, 0, 0, .15)
}

.side-nav a {
  display: block;
  font-size: 1rem;
  height: 56px;
  line-height: 56px;
  padding-left: 20px
}

.side-nav .fa-angle-down.rotate-icon {
  position: absolute;
  right: 0;
  top: .8rem;
  margin-right: 1.25rem
}

.side-nav .sidenav-bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 15rem;
  z-index: -1;
  background-attachment: fixed
}

.side-nav .sidenav-bg:after {
  width: 100%;
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin-bottom: -99999px;
  padding-bottom: 99999px
}

.rating li, .side-nav .social li {
  display: inline-block
}

.side-nav .logo-wrapper {
  height: 8.75rem
}

.side-nav .logo-wrapper a {
  height: 8.75rem;
  width: 15rem;
  padding: 0
}

.side-nav .logo-wrapper img {
  height: auto;
  padding: 20% 50px
}

@media (max-height:992px) {
  .side-nav .logo-wrapper, .side-nav .logo-wrapper a {
    height: 80px
  }
  .side-nav .logo-wrapper img {
    padding-top: 7%;
    padding-bottom: 7%
  }
}

.side-nav .logo-wrapper.sn-avatar-wrapper {
  padding: 10% 33%
}

.side-nav .logo-wrapper.sn-avatar-wrapper img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  margin: 0;
  padding: 0;
  max-width: 90px
}

@media only screen and (max-height:992px) {
  .side-nav .logo-wrapper.sn-avatar-wrapper {
    padding-left: 40%;
    padding-right: 40%
  }
  .side-nav .logo-wrapper.sn-avatar-wrapper img {
    max-width: 50px
  }
}

.side-nav .logo-wrapper.sn-ad-avatar-wrapper {
  height: auto;
  margin-bottom: 0
}

.side-nav .logo-wrapper.sn-ad-avatar-wrapper img {
  max-width: 3.75rem;
  padding: 1.25rem .63rem;
  float: left
}

.side-nav .logo-wrapper.sn-ad-avatar-wrapper p {
  font-size: .94rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin: 0
}

.side-nav .about {
  padding: 1rem
}

.side-nav .about p {
  margin-bottom: 0
}

.side-nav .social {
  padding-top: 0
}

.side-nav .social li {
  padding-top: .6rem;
  padding-bottom: .6rem;
  margin: 0
}

.side-nav .social a {
  margin: 0;
  padding: 0
}

.side-nav .social .fa {
  font-size: .9rem;
  padding-right: .6rem;
  padding-left: .6rem;
  color: #dbe4e7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.stepper li a, .stepper-vertical li .step-content p {
  font-size: .88rem
}

.side-nav .social .fa:hover {
  color: #AFC4CB;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.side-nav .search-form {
  padding: 0
}

.side-nav .search-form input[type=text] {
  font-weight: 300;
  padding-left: 1.88rem
}

.side-nav .search-form .form-control {
  margin-bottom: 0
}

.drag-target {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 0;
  z-index: 998
}

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 997;
  will-change: opacity
}


.toast-close-button, .toast-title, .white-skin .side-nav .collapsible li a {
  font-weight: 400
}



.test-skin .page-footer, .test-skin .side-nav {
  background-color: #fff
}

.test-skin .side-nav .logo-wrapper>div {
  background-color: transparent !important
}

.test-skin .side-nav .sn-avatar-wrapper img {
  border: 3px solid #d9d9d9
}

.test-skin .side-nav .social {
  border-bottom: 1px solid rgba(238, 238, 238, .3)
}

.test-skin .side-nav .social a:hover .fa {
  color: #fff !important;
  transition: all .3s linear
}

.test-skin .side-nav .collapsible li {
  background-color: transparent
}

.test-skin .side-nav .collapsible li .collapsible-header {
  color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.test-skin .side-nav .collapsible li .collapsible-header.active, .test-skin .side-nav .collapsible li .collapsible-header:hover {
  background-color: #fff
}

.test-skin .side-nav .collapsible li .collapsible-body a, .test-skin .side-nav .collapsible li .collapsible-body a:hover, .test-skin .side-nav .fa {
  color: #fff
}

.test-skin .side-nav .sidenav-bg.mask-light:after, .test-skin .side-nav .sidenav-bg.mask-slight:after, .test-skin .side-nav .sidenav-bg.mask-strong:after, .test-skin .side-nav .sidenav-bg:after {
  background: #fff
}


.white-skin .navbar .navbar-nav .nav-item a, .white-skin .navbar.double-nav a, .white-skin .side-nav .social a .fa {
  color: #424242
}



.white-skin .side-nav {
  background-color: #F9F9F9
}

.white-skin .side-nav .logo-wrapper>div {
  background-color: transparent !important
}

.white-skin .side-nav .sn-avatar-wrapper img {
  border: 3px solid #0d5bdd
}

.white-skin .side-nav .social {
  border-bottom: 1px solid rgba(238, 238, 238, .3)
}

.white-skin .side-nav .social a:hover .fa {
  color: #4285F4 !important;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.white-skin .side-nav .search-form .md-form input {
  color: #424242 !important;
  border-bottom: 1px solid rgba(238, 238, 238, .3)
}

.white-skin .side-nav .search-form .md-form input::-webkit-input-placeholder {
  color: rgba(66, 66, 66, .5) !important
}

.white-skin .side-nav .search-form .md-form input::-moz-placeholder {
  color: rgba(66, 66, 66, .5) !important
}

.white-skin .side-nav .search-form .md-form input:-ms-input-placeholder {
  color: rgba(66, 66, 66, .5) !important
}

.white-skin .side-nav .search-form .md-form input::-ms-input-placeholder {
  color: rgba(66, 66, 66, .5) !important
}

.white-skin .side-nav .search-form .md-form input::placeholder {
  color: rgba(66, 66, 66, .5) !important
}

.white-skin .side-nav .collapsible li {
  background-color: transparent
}

.white-skin .side-nav .collapsible li .collapsible-header {
  color: #424242;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.white-skin .side-nav .collapsible li .collapsible-header.active {
  color: #4285F4;
  background-color: transparent
}

.white-skin .side-nav .collapsible li .collapsible-header:hover {
  background-color: rgba(0, 0, 0, .05)
}

.white-skin .side-nav .collapsible li .collapsible-body a {
  color: #424242
}

.white-skin .side-nav .collapsible li .collapsible-body a:hover {
  color: #4285F4
}

.white-skin .side-nav .fa {
  color: #424242
}

.white-skin .side-nav .sidenav-bg.mask-strong:after, .white-skin .side-nav .sidenav-bg:after {
  background: rgba(255, 255, 255, .8)
}

.white-skin .side-nav .sidenav-bg.mask-light:after {
  background: rgba(255, 255, 255, .65)
}

.white-skin .side-nav .sidenav-bg.mask-slight:after {
  background: rgba(255, 255, 255, .5)
}


.pink-skin .gradient {
  background: #812b5a;
  background: -webkit-linear-gradient(315deg, #812b5a 0, #f28cc0 100%);
  background: -o-linear-gradient(315deg, #812b5a 0, #f28cc0 100%);
  background: linear-gradient(135deg, #812b5a 0, #f28cc0 100%)
}

.pink-skin .primary-color, .pink-skin .stepper li.active a .circle, .pink-skin .stepper li.completed a .circle, .stepper li.active a .pink-skin .circle, .stepper li.completed a .pink-skin .circle {
  background-color: #bd5d70 !important
}

.pink-skin .navbar {
  background-color: #fff;
  color: #e91e63!important
}

.pink-skin .navbar .navbar-nav .nav-item .dropdown-menu a:active, .pink-skin .navbar .navbar-nav .nav-item .dropdown-menu a:focus, .pink-skin .navbar .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: #9192a2
}

.pink-skin .navbar.double-nav a {
  color: #e91e63!important
}

.pink-skin .page-footer {
  background-color: #535466
}

.pink-skin .side-nav {
  background-color: #fff
}

.pink-skin .side-nav .logo-wrapper>div {
  background-color: transparent !important
}

.pink-skin .side-nav .sn-avatar-wrapper img {
  border: 3px solid #76778b
}

.pink-skin .side-nav .social {
  border-bottom: 1px solid rgba(238, 238, 238, .3)
}

.pink-skin .side-nav .social a:hover .fa {
  color: #9fa0ae !important;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.pink-skin .side-nav .collapsible li {
  background-color: transparent
}

.pink-skin .side-nav .collapsible li .collapsible-header {
  color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.pink-skin .side-nav .collapsible li .collapsible-header.active, .pink-skin .side-nav .collapsible li .collapsible-header:hover {
  background-color: #fff
}

.pink-skin .side-nav .collapsible li .collapsible-body a {
  color: #fff
}

.pink-skin .side-nav .collapsible li .collapsible-body a:hover {
  color: #ffb0e6
}

.pink-skin .side-nav .fa {

}

.pink-skin .side-nav .sidenav-bg.mask-strong:after, .pink-skin .side-nav .sidenav-bg:after {
  background: #fff
}

.pink-skin .side-nav .sidenav-bg.mask-light:after {
  background: #fff
}

.pink-skin .side-nav .sidenav-bg.mask-slight:after {
  background: #fff
}

.pink-skin .btn-primary {
  background-color: #601f39 !important;
  color: #fff !important
}

.pink-skin .btn-primary:hover {
  background-color: #732544
}

.pink-skin .btn-primary.focus, .pink-skin .btn-primary:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.pink-skin .btn-primary.active, .pink-skin .btn-primary:active, .pink-skin .btn-primary:focus {
  background-color: #13060b
}

.pink-skin .btn-primary.dropdown-toggle {
  background-color: #601f39 !important
}

.pink-skin .btn-primary.dropdown-toggle:focus, .pink-skin .btn-primary.dropdown-toggle:hover {
  background-color: #732544 !important
}

.pink-skin .btn-primary:not([disabled]):not(.disabled).active, .pink-skin .btn-primary:not([disabled]):not(.disabled):active, .show>.pink-skin .btn-primary.dropdown-toggle {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  background-color: #13060b !important
}

.pink-skin .btn-primary:not([disabled]):not(.disabled).active:focus, .pink-skin .btn-primary:not([disabled]):not(.disabled):active:focus, .show>.pink-skin .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.pink-skin .primary-ic {
  color: #601f39 !important
}

.pink-skin .primary-ic:focus, .pink-skin .primary-ic:hover {
  color: #601f39
}

.pink-skin .btn-secondary {
  background-color: #e7649d !important;
  color: #fff !important
}

.pink-skin .btn-secondary:hover {
  background-color: #ea7aab
}

.pink-skin .btn-secondary.focus, .pink-skin .btn-secondary:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.pink-skin .btn-secondary.active, .pink-skin .btn-secondary:active, .pink-skin .btn-secondary:focus {
  background-color: #c61f68
}

.pink-skin .btn-secondary.dropdown-toggle {
  background-color: #e7649d !important
}

.pink-skin .btn-secondary.dropdown-toggle:focus, .pink-skin .btn-secondary.dropdown-toggle:hover {
  background-color: #ea7aab !important
}

.pink-skin .btn-secondary:not([disabled]):not(.disabled).active, .pink-skin .btn-secondary:not([disabled]):not(.disabled):active, .show>.pink-skin .btn-secondary.dropdown-toggle {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  background-color: #c61f68 !important
}

.pink-skin .btn-secondary:not([disabled]):not(.disabled).active:focus, .pink-skin .btn-secondary:not([disabled]):not(.disabled):active:focus, .show>.pink-skin .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.pink-skin .secondary-ic {
  color: #e7649d !important
}

.pink-skin .secondary-ic:focus, .pink-skin .secondary-ic:hover {
  color: #e7649d
}

.pink-skin .btn-default {
  background-color: #535466 !important;
  color: #fff !important
}

.pink-skin .btn-default:hover {
  background-color: #5e6074
}

.pink-skin .btn-default.focus, .pink-skin .btn-default:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.pink-skin .btn-default.active, .pink-skin .btn-default:active, .pink-skin .btn-default:focus {
  background-color: #25262e
}

.pink-skin .btn-default.dropdown-toggle {
  background-color: #535466 !important
}

.pink-skin .btn-default.dropdown-toggle:focus, .pink-skin .btn-default.dropdown-toggle:hover {
  background-color: #5e6074 !important
}

.pink-skin .btn-default:not([disabled]):not(.disabled).active, .pink-skin .btn-default:not([disabled]):not(.disabled):active, .show>.pink-skin .btn-default.dropdown-toggle {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  background-color: #25262e !important
}

.pink-skin .btn-default:not([disabled]):not(.disabled).active:focus, .pink-skin .btn-default:not([disabled]):not(.disabled):active:focus, .show>.pink-skin .btn-default.dropdown-toggle:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.pink-skin .default-ic {
  color: #535466 !important
}

.pink-skin .default-ic:focus, .pink-skin .default-ic:hover {
  color: #535466
}

.pink-skin .btn-outline-primary {
  border: 2px solid #601f39 !important;
  background-color: transparent !important;
  color: #601f39 !important
}

.pink-skin .btn-outline-primary.active, .pink-skin .btn-outline-primary:active, .pink-skin .btn-outline-primary:active:focus, .pink-skin .btn-outline-primary:focus, .pink-skin .btn-outline-primary:hover {
  border-color: #601f39 !important;
  background-color: transparent !important;
  color: #601f39 !important
}

.pink-skin .btn-outline-primary:not([disabled]):not(.disabled).active, .pink-skin .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.pink-skin .btn-outline-primary.dropdown-toggle {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  background-color: transparent !important;
  border-color: #601f39 !important
}

.pink-skin .btn-outline-primary:not([disabled]):not(.disabled).active:focus, .pink-skin .btn-outline-primary:not([disabled]):not(.disabled):active:focus, .show>.pink-skin .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.pink-skin .btn-outline-secondary {
  border: 2px solid #e7649d !important;
  background-color: transparent !important;
  color: #e7649d !important
}

.pink-skin .btn-outline-secondary.active, .pink-skin .btn-outline-secondary:active, .pink-skin .btn-outline-secondary:active:focus, .pink-skin .btn-outline-secondary:focus, .pink-skin .btn-outline-secondary:hover {
  border-color: #e7649d !important;
  background-color: transparent !important;
  color: #e7649d !important
}

.pink-skin .btn-outline-secondary:not([disabled]):not(.disabled).active, .pink-skin .btn-outline-secondary:not([disabled]):not(.disabled):active, .show>.pink-skin .btn-outline-secondary.dropdown-toggle {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  background-color: transparent !important;
  border-color: #e7649d !important
}

.pink-skin .btn-outline-secondary:not([disabled]):not(.disabled).active:focus, .pink-skin .btn-outline-secondary:not([disabled]):not(.disabled):active:focus, .show>.pink-skin .btn-outline-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.pink-skin .btn-outline-default {
  border: 2px solid #535466 !important;
  background-color: transparent !important;
  color: #535466 !important
}

.pink-skin .btn-outline-default.active, .pink-skin .btn-outline-default:active, .pink-skin .btn-outline-default:active:focus, .pink-skin .btn-outline-default:focus, .pink-skin .btn-outline-default:hover {
  border-color: #535466 !important;
  background-color: transparent !important;
  color: #535466 !important
}

.pink-skin .dropdown-content li:not(.disabled) span, .pink-skin .md-form .prefix.active, .pink-skin input[type=email]:focus:not([readonly])+label, .pink-skin input[type=text]:focus:not([readonly])+label, .pink-skin input[type=password]:focus:not([readonly])+label, .pink-skin input[type=number]:focus:not([readonly])+label, .pink-skin textarea.md-textarea:focus:not([readonly])+label {
  color: #9fa0ae
}

.pink-skin .btn-outline-default:not([disabled]):not(.disabled).active, .pink-skin .btn-outline-default:not([disabled]):not(.disabled):active, .show>.pink-skin .btn-outline-default.dropdown-toggle {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  background-color: transparent !important;
  border-color: #535466 !important
}

.pink-skin .btn-outline-default:not([disabled]):not(.disabled).active:focus, .pink-skin .btn-outline-default:not([disabled]):not(.disabled):active:focus, .show>.pink-skin .btn-outline-default.dropdown-toggle:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.pink-skin .card .btn-action {
  background: #535466
}

.pink-skin .card .btn-action:focus, .pink-skin .card .btn-action:hover {
  background-color: #5e6074 !important
}

.pink-skin .card .btn-action.active {
  background-color: #25262e !important
}

.pink-skin input[type=email]:focus:not([readonly]), .pink-skin input[type=text]:focus:not([readonly]), .pink-skin input[type=password]:focus:not([readonly]), .pink-skin input[type=number]:focus:not([readonly]), .pink-skin textarea.md-textarea:focus:not([readonly]) {
  border-color: #9fa0ae;
  -webkit-box-shadow: 0 1px 0 0 #9fa0ae;
  box-shadow: 0 1px 0 0 #9fa0ae
}

.pink-skin input[type=checkbox]:checked+label:before {
  border-right: 2px solid #9fa0ae;
  border-bottom: 2px solid #9fa0ae
}

.pink-skin input[type=checkbox].filled-in:checked+label:before {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff
}

.pink-skin input[type=checkbox].filled-in:checked+label:after {
  background-color: #9fa0ae;
  border-color: #9fa0ae
}

.pink-skin .top-nav-collapse {
  background-color: #535466
}

.pink-skin .carousel-multi-item .carousel-indicators li, .pink-skin .carousel-multi-item .carousel-indicators li.active, .pink-skin .carousel-multi-item .controls-top>a {
  background-color: #9fa0ae
}

.pink-skin .card-header, .pink-skin .form-header {
  background-color: #a5a5b3
}

.pink-skin .spinner-primary-color, .pink-skin .spinner-primary-color-only {
  border-color: #bd5d70
}

.pink-skin .pagination-primary-color .page-item.active .page-link, .pink-skin .pagination-primary-color .page-item.active .page-link:focus, .pink-skin .pagination-primary-color .page-item.active .page-link:hover {
  color: #fff;
  background-color: #bd5d70
}

.pink-skin .pagination-primary-color .page-link {
  color: #bd5d70
}

.pink-skin .pagination-primary-color .page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}

.trans-left-nav {
  transform: translateX(-100%) !important;
}

.trans-left-nav-right {
  transform: translateX(0%) !important;
}
.move-right {
  margin-left: 240px;
}
