<!--Main layout-->
<main class="mt-5">
  
  <!--Main container-->
  <div class="container">

      <!--Grid row-->
      <div class="row">

          <!--Grid column-->
          <div class="col-md-7 mb-4">

              <!--Featured image -->
              <div class="view overlay z-depth-1-half">
                  <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="">
                  <div class="mask rgba-white-light"></div>
              </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 mb-4">

              <h2>Some awesome heading</h2>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis pariatur quod ipsum atque quam dolorem
                  voluptate officia sunt placeat consectetur alias fugit cum praesentium ratione sint mollitia, perferendis
                  natus quaerat!</p>
              <a href="https://mdbootstrap.com/" class="btn btn-pink waves-effect waves-light">Get it now!</a>

          </div>
          <!--Grid column-->

      </div>
      <!--Grid row-->


      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top" alt="">
              <a href="#">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#!" class="btn btn-pink waves-effect waves-light">Button</a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(74).jpg" class="card-img-top" alt="">
              <a href="#">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-pink waves-effect waves-light">Button</a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(75).jpg" class="card-img-top" alt="">
              <a href="#">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-pink waves-effect waves-light">Button</a>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

  </div>
  <!--Main container-->

</main>
<!--Main layout-->
